@import "../../../Mixins.scss";

.s7 {
    border: blueviolet;
    top: 373px;
    left: 170px;
    flex-direction: row;
    @include width1000 () {
        top: 330px;
        left: 50px;
      }
      @include width600() {
        top: 1530px;
        left: 80px;
      }
}

#Msg7 {
    position: absolute;
    top: 45px;
    left: -185px;
    text-align: right;
    width: 162px;
    @include width1100 () {
        top: 125px;
        left: -60px;
    }
    @include width1000 () {
        top: -30px;
        left: -55px;
    }
}

#sypmIcon__img7 {
    background-image: url(../../../Symptoms/img/Symp7.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }