.s7 {
    border: blueviolet;
    top: 373px;
    left: 170px;
    flex-direction: row;
}

#Msg7 {
    position: absolute;
    top: 45px;
    left: -185px;
    text-align: right;
    width: 162px;
}

#sypmIcon__img7 {
    background-image: url(../../../Symptoms/img/Symp7.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }