.s8 {
    border: blueviolet;
    top: 177px;
    left: 244px;
    flex-direction: row;
}

#Msg8 {
    position: absolute;
    top: 45px;
    left: -185px;
    text-align: right;
    width: 162px;
}

#sypmIcon__img8 {
    background-image: url(../../../Symptoms/img/Symp8.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }