.s6 {
    border: blueviolet;
    bottom: 165px;
    left: 245px;
    flex-direction: row;
}

#Msg6 {
    position: absolute;
    top: 35px;
    left: -185px;
    text-align: right;
    width: 162px;
}

#sypmIcon__img6 {
    background-image: url(../../../Symptoms/img/Symp6.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }