@import "../../../Mixins.scss";

.s5 {
    height: fit-content;
    bottom: 99px;
    left: 443px;
    flex-direction: row;
    @include width1000 () {
        bottom: 235px;
        left: 255px;
      }
      @include width600() {
        top: 1130px;
        left: 80px;
      }
}

#Msg5 {
    position: absolute;
    top: 140px;
    left: -55px;
    text-align: center;
    width: 239px;
    @include width1100 () {
        top: 125px;
        left: -55px;
      }
      @include width1000 () {
        top: -40px;
        left: -50px;
      }
}

#sypmIcon__img5 {
    background-image: url(../../../Symptoms/img/Symp5.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }