.s5 {
    border: blueviolet;
    bottom: 99px;
    left: 443px;
    flex-direction: row;
}

#Msg5 {
    position: absolute;
    top: 140px;
    left: -55px;
    text-align: center;
    width: 239px;
}

#sypmIcon__img5 {
    background-image: url(../../../Symptoms/img/Symp5.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }