.s3 {
    border: blueviolet;
    top: 373px;
    right: 165px;
    flex-direction: row;
}

#Msg3 {
    position: absolute;
    top: 35px;
    left: 140px;
    text-align: left;
    width: 187px;
}

#sypmIcon__img3 {
    background-image: url(../../../Symptoms/img/Symp3.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }