.s2 {
  border: blueviolet;
  top: 177px;
  right: 234px;
  flex-direction: row;
}

#Msg2 {
  position: absolute;
  top: 25px;
  left: 140px;
  text-align: left;
  width: 242px;
}

#sypmIcon__img2 {
  background-image: url(../../../Symptoms/img/Symp2.png);
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
}
