
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(217, 246, 251, 0.5833) 25%,
    #caf2fa 100%
  );
  color: #223867;
  width: 1264px;
  height: auto;
  margin: 0 auto;
  .header {
    
    h3 {
      margin: 35px auto 10px auto;
      font-size: 40px;
      font-weight: 900;
    }
    p {
      font-size: 36px;
      font-weight: 700;
    }
  }

  .adultKidWrapper {
    display: flex;

    .title {
      color: #028ca6;
      margin: 43px auto 23px auto;
    }
    .cardImg {
      margin: 0 auto;
      width: 300px;
      height: 300px;
      filter: drop-shadow(0px 4px 25px rgba(6, 140, 166, 0.25));
    }
  }
}

.adultWrapper, .kidWrapper {
    width: 50%;
}
 
.description {
    padding: 15px 9px;
    width: 578px;
    margin: 0 auto;
    margin-bottom: 31px;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #068ca6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
    border-radius: 10px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
  }

  .descWrapper {
    margin: 28px auto 89px auto;
  }
  