.kid__img {
  background-image: url(../Kid/img/kid.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 5px right 5px;
}

#kid_desc1 {
  height: 222px;
  padding: 16px 24px 29px 16px;
}
#kid_desc2 {
  height: 171px;
  padding: 13px 5px 18px 16px;
  margin-bottom: 0;
}
