@import "../../../Mixins.scss";

.s4 {
    height: fit-content;
    bottom: 165px;
    right: 234px;
    flex-direction: row;
    @include width1000 () {
        bottom: 295px;
        right: 90px;
      }
      @include width600() {
        top: 930px;
        left: 80px;
      }
}

#Msg4 {
    position: absolute;
    top: 10px;
    left: 140px;
    text-align: left;
    width: 187px;
    @include width1100 () {
        top: 125px;
        left: -30px;
        text-align: center;
      }
      @include width1000 () {
        top: -60px;
        left: -25px;
      }
      
}

#sypmIcon__img4 {
    background-image: url(../../../Symptoms/img/Symp4.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
  }