.s4 {
    border: blueviolet;
    bottom: 165px;
    right: 234px;
    flex-direction: row;
}

#Msg4 {
    position: absolute;
    top: 10px;
    left: 140px;
    text-align: left;
    width: 187px;
}

#sypmIcon__img4 {
    background-image: url(../../../Symptoms/img/Symp4.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
  }